<h1><%= truck.applicant %></h1>
<h2><b>License Status:</b> <%= truck.status %> </h2>
<p>Address: <%= truck.address %> </p>
<p>Hours: <%= truck.dayshours %> </p>

<p><b>Food:</b> <%= truck.fooditems %> </p>