<!DOCTYPE html>
<html>
  <head>
    <title>Truckfinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: 'google_maps', content: 'AIzaSyA_uedkUhej50TIIJbseQ1VezXs-3HUztM' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
